/*corpo*/

body{
    background: linear-gradient(90deg, #0000CD, #191970, #483D8B, #000000);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
}
.container{
    background-color: rgba(255,255,255,0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(95px);
    border: 1px solid rgba(255,255,255,0.3);
    width: 20rem;
    height: 10rem;
    padding: 32px;
}
input[type="text"]{
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    margin-right: 15px;
}
input[type="color"]{
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    transition: .3s;
}
input[type="color"]:hover{
    background-color: deepskyblue;
}